<div class="document-overlay">
  <div class="container">
    <section class="popup">
      <h2 class="text-center mb-4">{{ title || (form.name ? '' + form.name : '') }}</h2>
      <form (ngSubmit)="saveRecord()">
        <div class="form-group two-columns">
          <input name="name" type="text" placeholder="Nom" [(ngModel)]="form.name">
          <input name="profession" type="text" placeholder="Profession" [(ngModel)]="form.profession">
        </div>

        <!-- Téléphone & Adresse -->
        <div class="form-group two-columns">
          <input name="phone" type="tel" placeholder="Téléphone" [(ngModel)]="form.phone">
          <input name="address" type="text" placeholder="Adresse" [(ngModel)]="form.address">
        </div>

        <!-- État de santé -->
        <div class="form-group">
          <textarea name="healthStatus" placeholder="État de santé" class="responsive-textarea" [(ngModel)]="form.healthStatus"></textarea>
        </div>


        <!-- Upload box -->
        <div class="add-document"
            (click)="fileInput.click()"
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event)"
            (dragleave)="onDragLeave($event)"
            [class.drag-over]="isDragOver">
          <div class="icon-container"> 
            <i class="bi bi-file-earmark-plus"></i>
            <span class="placeholder-text">Sélectionner des fichiers</span>
          </div>

          <input 
            type="file" 
            (change)="onFileSelected($event)" 
            class="file-input" 
            #fileInput 
            multiple>
        </div>

        <div class="selected-files" *ngIf="allFiles.length > 0">
          <div class="file-item" *ngFor="let file of allFiles; let i = index">

            <div class="file-info">
              <i [ngClass]="getFileIcon(file.extension)"></i>
              <span>{{ file.name }}</span>
            </div>  

            <div class="file-actions">
              <!-- EXISTING FILE -->
              <button *ngIf="file.type === 'existing'" type="button"
                      class="view-btn" (click)="openDocument(file.url)">
                <i class="bi bi-eye"></i>
              </button>

              <button *ngIf="file.type === 'existing'"
                      type="button"
                      class="remove-file"
                      (click)="deleteExisting(i)">
                <i class="bi bi-trash"></i>
              </button>


              <!-- NEW FILE -->
              <button *ngIf="file.type === 'new'" type="button"
                      class="view-btn" (click)="viewFile(file.file!)">
                <i class="bi bi-eye"></i>
              </button>

              <button *ngIf="file.type === 'new'"
                      type="button"
                      class="remove-file"
                      (click)="removeFile(i)">
                <i class="bi bi-trash"></i>
              </button>

            </div>

          </div>
        </div>


        <div class="buttons">
          <button type="submit" class="continue">Enregistrer</button>
          <button type="button" class="cancel" (click)="cancelRecord()">Annuler</button>
        </div>

      </form>
    </section>
  </div>
</div>